@charset "UTF-";

*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 95vh;
    background: rgb(98, 203, 238) url('imagens/conta.jpg') center center no-repeat fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

main{
   background-color: rgba(255, 255, 255, 0.892);
   position: absolute;
   min-width: 90%;
   margin: auto; 
   border: 1px solid black;
   border-radius: 10px;
   transform: translate(-50%, -50%);
   left: 50%;
   top: 50%;
   text-align: center;
}

img {
    width: 50vh;
}

#a1{
    padding: 10px;
}

#q2{
    background-color: #05B4F6;
    text-align: center;
    padding: 8px;
    box-shadow: 0px 3px 5px rgb(100, 98, 98);
}

#iss,#q3{
    text-align: center;
    padding-top: 10px;
}

.container#a1,#aliquota{
    display: inline-block;
    padding-top: 10px;
}

input{
    padding: 4px;
}

#aliquota{
    color: red;
    width: 60px;
}

#x1{
    border: 1px solid black;
    border-radius: 3px;
    padding: 4px;
    background-color: white;
}

#tab2,#tab4{
    width: 60px;
}

#tab1,#tab2,#tab3,#tab4{
    text-align: center;
}

#clean button{
    padding: 5px;
}

#obs{
    padding-top: 10px;
}

#simples{
    display: inline-block;
    margin: 5%;
    padding: 10px;
    border-radius: 5px;
    background-color: #2f9824;
}

:hover#simples{
    background-color: #a4c74c;
}

abbr, a{
    text-decoration: none;
}

#name img{
    width: 30px
}